# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/api_mac
/mock_backend_mac
/api
/mock_backend

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Documentos Privados
entregables/PROMPT_MIGRACION_BASE.md
